@model KetoBlog.Models.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-2">Hongjo's KetoBlog</h1>
    <br />
    <br />
    <h5>Learn & Share Ketogenic Life Styles</h5>
</div>
<div>
    <h2>Recent Postings</h2>
    <a asp-controller="Postings" asp-action="Create" class="btn btn-primary" role="button">Create</a>
    @{ var postings = Model.Postings;

        foreach (Posting posting in postings)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@posting.CreatedDateTime</h5>
                    <p class="card-text">@posting.Content</p>
                    <a href="#" class="btn btn-primary">Read</a>
                </div>
            </div>
        }
    }
</div>
<div>
    <h2>Recipies</h2>
    @{ var recipies = Model.Recipes;

        foreach (Recipe recipe in recipies)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Title</h5>
                    <p class="card-text">@recipe.Description</p>
                    <a href="#" class="btn btn-primary">Read</a>
                </div>
            </div>
        }
    }
</div>
<div>
    <h2>Foods</h2>
    @{ var foods = Model.Foods;

        foreach (Food food in foods)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@food.Name</h5>
                    <p class="card-text">@food.CategoryId</p>
                    <a href="#" class="btn btn-primary">Read</a>
                </div>
            </div>
        }
    }
</div>
